
      <%= form_for(current_user.comments.build, remote: true) do |f| %>
        <div><%= hidden_field_tag :post_id, post.id %></div>
          
            <%= f.text_field :content %>
          
          <%= f.submit "コメント" %>
      <% end %>