<% users.each do |user| %>
  <div class="media border-bottom">
    <figure class="align-self-start mr-3">
      <% if user.avater? %>
        <%= image_tag user.avater.thumb50.url %>
      <% else %>
        <%= image_tag"/assets/default.jpg", :size => '100x100' %>
      <% end %>
      <figcaption>
        <%=link_to(user.name, user_path(user))%>
      </figcaption>
    </figure>
    <div class="media-body" style="word-break: break-all;">
      <p class="text-left">★自己紹介文</p>
      <h5 class="text-left">
        <% if user.introduce? %>
          <%= user.introduce %>
        <% else %>
          未設定
        <% end %>
      </h5>
    </div><!-- /.media-body -->
  </div><!-- /.media -->
<% end %>