<div class="row">
  <aside class="col-xs-4">
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @user.name %></h3>
      </div>
    </div>
    <div>
      <%= link_to "ユーザ編集", edit_user_path(current_user) %>
    </div>
  </aside>
  <div class="col-xs-8">
    <ul class="nav nav-tabs">
      <li><a href="#">投稿</a></li>
      <li><a href="#">フォロー</a></li>
      <li><a href="#">フォロワー</a></li>
    </ul>
  </div>
</div>