
<div class="about">
  <div class="row">
    <div class="col-md-3"></div>
      <div class="col-md-6">
        <h1>ゆいゆい.com とは？</h1>
        <h2>みんなで「大好き！」を共有しよう！</h2>

        <p>好きなアイドル、声優etc..のLIVE・DVD・BD・CD・書籍などの感想を共有しましょう！</p>

      </div>
  </div>
</div>