 <% @posts.each do |post| %>
   <div class="posts-index-item">
     <%= link_to(post.content, post_path(post))%>
   </div>
   <% if post.picture? %>
    <% post.picture.each do |picture| %>
      <%= image_tag picture.thumb.url %>
    <% end %>
   <% end %>
 <% end %>